<!-- <footer class=" clearfix" id="footer-section" *ngIf="nav">
    <div class="dark-overlay">
        <div class="footer-inner">
            <div class="row">
                <div class="col-md-12 clearfix mt-5 border-top border-bottom">
                    <div class="col-md-4 text-center py-4 mt-5 float-left">
                        <h6 class="text-left">NOSOTROS</h6>
                        <p class="text-left">
                            Somos una empresa que se dedica a distribuir los productos basicos para un establecimiento de cafeteria lleno de calidad.
                        </p>
                    </div>
                    <div class="col-md-8 py-4 mt-5 float-right">
                        <h6 class="text-left">CONTACTO</h6>

                        <p class="text-left">Av. Mirador #7712 Col. Colinas Del Valle</p>
                        <p class="text-left">Chihuahua, Chih. Mex.</p>

                        <p>01 (614) 440 3979</p>
                        <p class="text-left">Lunes a Viernes 8:00-17:00</p>
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <p class="text-center">
                        TODOS LOS DERECHOS RESERVADOS PROCAFE &copy; <span>{{year}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer> -->
<footer class="footer bg-dark text-center" *ngIf="nav">
    <div class="container">
        <p>&copy; PROCAFE {{year}}</p>
    </div>
</footer>