<!-- <app-navigation></app-navigation> -->
<div class="container animated fadeIn">
    <!-- <h2>Purchase authorized: ${{ total }}</h2>
    <h2>Payment ID: {{ paymentID }}</h2> -->
    <div class="card" style="width: 40rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h2>Purchase authorized: ${{ total }}</h2>
            </li>
            <li class="list-group-item">
                <h2>Payment ID: {{ paymentID }}</h2>
            </li>
        </ul>
    </div>
    <br />
    <!-- <div class="btn btn-outline-primary btn-block" style="width: 40rem;" (click)="clearOrder()">
        Done
    </div> -->
</div>